<% include ./partials/header %>

<div class="container">
    <div class="title is-1">Post a new blog!</div>

    <form action="/blogs" method="post">
                
        <div class="field">
            <div class="control">
                <input class="input" type="text" placeholder="Blog Title" name="blog[title]">
            </div>
        </div>
        
        <div class="field">
            <div class="control">
                <input class="input" type="url" placeholder="Image URL" name="blog[image]">
            </div>
        </div>
        
        <div class="field">
            <div class="control">
                <textarea class="textarea" placeholder="Let's hear what you have to say" name="blog[body]"></textarea>
            </div>
        </div>
        
        <div class="field is-grouped">
            <div class="control">
                <input type="submit" class="button is-link">
            </div>
            <div class="control">
                <a href="/blogs" class="button is-text">Cancel</a>
            </div>
        </div>
    </form>
</div>

<% include ./partials/footer %>